<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidsonsc19.caloriecounter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="Add Item"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidsonsc19.caloriecounter.MainActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="Details"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidsonsc19.caloriecounter.MainActivity" />
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="Edit Item"
            android:parentActivityName=".DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidsonsc19.caloriecounter.DetailActivity" />
        </activity>
        <activity
            android:name=".BackstageActivity"
            android:label="Backstage"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidsonsc19.caloriecounter.MainActivity" />
        </activity>
    </application>

</manifest>